.aboutMobile {
    margin-bottom: 70px
}

.aboutH2Mobile {
    font-size: 40px;
    color: #000000;
    text-align: center;
    padding-bottom: 10px;
}

.aboutTextMobile {
    color: #000000;
    text-align: center;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
}

.familyPhotoMobile {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.aboutCardsMobile {
    font-size: 14px;
    color: #000000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

  .smallFamilyPhotoMobile {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
}

.logoBlockMobile {
    text-align: center;
}