.contactMobile {
    background-color: #ffffff;
    padding-top: 10px;
    margin-bottom: 0px;
}

.contactH2Mobile {
    font-size: 40px;
    color: #000000;
    text-align: center;
    padding-bottom: 10px;
}

.contactCardsMobile {
    font-size: 20px;
    color: #000000;
    margin-left: auto;
    margin-right: auto;
}

.left-halfMobile {
    background-color: #071B38;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding-bottom: 10px;
}

.middleMobile {
    background-color: #071B38;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding-bottom: 10px;
}

.right-halfMobile {
    background-color: #071B38;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding-bottom: 10px;
}

.contactH3Mobile {
    color: #ffffff;
    text-align: center;
}

.phoneMobile {
    color: #ffffff;
    margin-top: 30px;
}   

.emailMobile {
    color: #ffffff;
    margin-top: 30px;
}   

.resumeMobile {
    color: #ffffff;
    margin-top: 30px;
}   

p {
    text-align: center;
    color: #ffffff;
}

.resumeLink:link {
    text-decoration: none;
    color: #ffffff;
  }
  
  .resumeLink:visited {
    text-decoration: none;
    color: #ffffff;
  }